* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
body {
  font-family: "微软雅黑";
  background-color: rgb(244, 245, 245);
}

.center {
  position: relative;
  box-sizing: border-box;

  width: 990px;
  margin: 0 auto;
}
/* 字体变蓝 */
header  ul li:hover,
.option div span:hover,
.headBottom ul li:hover{
    color: #007fff;

    cursor: pointer;
}
li,
button{
  cursor: pointer;
}